common:
  daemonize: true
  log_level: info
  log_format: json
  log_max_size: 500
  log_max_files: 3

prometheus:
  enabled: true
  level: full
  listen_addr: 127.0.0.1
  listen_port: 6060

api:
  client:
    insecure_skip_verify: false
  server:
    listen_uri: http://127.0.0.1:8080
    profiles_path: /etc/crowdsec/profiles.yaml
    online_client: # Crowdsec Central API credentials
      credentials_path: /etc/crowdsec/online_api_credentials.yaml

crowdsec_service:
  acquisition_path: /etc/crowdsec/acquis.yaml
  parser_routines: 1
  simulation_path: /etc/crowdsec/simulation.yaml
  notification_path: /etc/crowdsec/notifications.yaml

plugin_config:
  ssh-bf:
    service: sshd
    log_prefix: sshd
    cache_size: 1000
    cache_expire: 4h
